<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Home</title>
</head>
<body>
    {% load static %}
    <h1 class="header">Welcome To My Nasa API Web App!</h1>
    <h1>Date of information being displayed {{data.date}}</h1>
    <img src="static/images/nasa_pic1.jpeg" alt="nasa1" class="image" height="450px">
    <p class="text">{{data.explanation}}</p>
    <h2>Check out the NASA picture of the day!</h2>
    <h3>{{data.hdurl}}</h3>
    <span class="definition">According to Google:</span>
    <span class="blue-text">A sol is the apparent interval between two successive returns of the Sun 
    to the same meridian (sundial time) as seen by an observer on Mars. It is one of several units for timekeeping on Mars. A sol is slightly longer than an Earth day.
    It is approximately 24 hours, 39 minutes, 35 seconds long.</span>
    <h3>Check out the current sol hours on Mars!</h3>
    <p class="weather">{{weather.validity_checks}}</p>
    </body>
</html>